language: node_js
branches:
  only:
    - master
    - /^greenkeeper/.*$/
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - 9
  - 8
os:
  - linux
  - osx
script:
  - npm run test:prod && npm run build && npm run size && npm run demos && npm run demos:test
after_success:
  - npm run report-coverage
  - npm run deploy-docs
  - npm run semantic-release
addons:
  apt:
    packages:
    - festival
